.vscode/
.cursor/
.cursor/rules/
dist/
node_modules/
package-lock.json
pnpm-lock.yaml
AppDataRoamingPythonPython311Scripts
.tmp
tmp
.DS_Store
.env
.env.*
!.env.example
npm-debug.log*
yarn.lock
deploy-node.bat
.mdc
docker-compose.yml